.main {
    background: rgb(241, 241, 241);
    margin: 25px;
    border: 1px solid blue;
    padding: 20px;
}

.gridcontainer {
    height: calc(100% - 150px);
    padding: 0px;
    margin: 0px 15px;
}

.grid {
    width: 100%;
    height: calc(100vh - 180px);
}

button.btn.btn-primary {
    min-width: 100px;
    margin: 0px 0px 0px 10px;
    background: blue;
    border: rgb(223, 145, 0);
}