<div class="container main-container-welcome" *ngIf="!gridOptions">
  <h2 *ngIf=" user">Welcome {{user.firstName}}
  {{user.middleName}} {{user.lastName}} ({{user.userId}})</h2>
  <h4>Please select any menu option to proceed.</h4>
</div>

<div class="main-container" *ngIf="gridOptions">
  <app-grid-list [GridOptions]="gridOptions" [RFOptions]="rfOptions"></app-grid-list>
</div>

<div class="main-container" *ngIf="rfOptions">
  <app-grid-list [GridOptions]="gridOptions" [RFOptions]="rfOptions"></app-grid-list>
</div>