<div class="modal-wrapper">
  <div class="modal-dialog-inner">
    <div class="modal-content-inner">
      <form id="event-form" #eventForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">{{formTitle}}</h4>
        </div>
        <div class="modal-body">
          <ng-container *ngFor="let field of Fields">
            <div class="form-group row" style="margin: 6px 0px;" *ngIf="field.hiddenField === 'N' && field.fieldType === 'dropdown'">
              <label class="col-sm-3 col-form-label" for="field.fieldName"> {{field.fieldDisplayName}} </label>
              <div class="col-sm-9">
                <select class="form-control" [disabled]="IsDisabled(field)" required [(ngModel)]="field.initializeValue"
                  [name]="field.fieldName">
                  <option *ngFor="let item of field.allowedValues.split(',')" [selected]="item === 'Y'" [ngValue]="item">
                    {{item}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row" style="margin: 6px 0px;" *ngIf="field.hiddenField === 'N' && ( !field.fieldType || field.fieldType === 'text' || field.fieldType === '')">
              <label class="col-sm-3 col-form-label" for="field.fieldName"> {{field.fieldDisplayName}} <span class="requiredRed">*</span></label>

              <div class="col-sm-9">
                <input *ngIf="field.fieldDataType === 'string' " type="text" required maxlength="field.fieldLength"
                  autocomplete="off" class="form-control" (input)="titleCharacterLength($event, field)" [disabled]="IsDisabled(field)"
                  [(ngModel)]="field.initializeValue" [name]="field.fieldName">
                <span *ngIf="field.fieldDataType === 'string' && field.ValidationMessage && field.ValidationMessage.length > 0"
                  class="danger">{{field.ValidationMessage}}</span>

                <input *ngIf="field.fieldDataType === 'int' " [disabled]="IsDisabled(field)" [(ngModel)]="+field.initializeValue"
                  type="number" required class="form-control" [name]="field.fieldName">
                <input *ngIf="field.fieldDataType === 'datetime'" [disabled]="IsDisabled(field)" [(ngModel)]="field.initializeValue"
                  type="datetime-local" required class="form-control" [name]="field.fieldName">
                <input *ngIf="field.fieldDataType === 'date'" [disabled]="IsDisabled(field)" [(ngModel)]="field.initializeValue"
                  type="date" required class="form-control" [name]="field.fieldName" (change)="formatdate($event)">
                <input *ngIf="field.fieldDataType === 'time'" [disabled]="IsDisabled(field)" [(ngModel)]="field.initializeValue"
                  type="time" required class="form-control" [name]="field.fieldName">
              </div>
            </div>

          </ng-container>
          <div *ngIf="errormsg" class="col-sm-12">
            <span class="danger">{{errormsg}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" *ngIf="CloseButton" class="btn btn-default" (click)="CloseModal()">{{CloseButton}}</button>
          <button type="submit" [disabled]="eventForm.invalid || customInvalid" *ngIf="ConfirmButton" (click)="submitForm()" [disabled]="!eventForm.form.valid" class="btn btn-primary">{{ConfirmButton}}</button>
        </div>
      </form>
    </div>
  </div>
</div>