@import '../../variables.scss';

nav{
    border-radius: 0px;
}

img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    float: right;
    margin: 7px;
}

.left-nav {
    // height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #223146;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.left {
    transform: translateX(0)
}

.leftFull {
    transform: translateX(-200px)
}

.right-content {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
    display: block;
    // margin-top: 40px;
    /* max-height: calc(100vh - 65px); */
    scroll-behavior: smooth;
}

.right {
    margin-left: 0px;
}

.rightFull {
    margin-left: 0;
}

.back-to-top {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  position: fixed;
  right: 40px;
  bottom: 80px;
  z-index: 99999;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: $main-color;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  img {
    display: block;
    margin: 0 auto 2px;
  }
}

.main-container {
    background-color: #fff;
    position: relative;
    // min-height: 100vh;
}

.top-nav {
    min-height: 64px;
}



.navbar {
    border-radius: 0;
    // background: #1b87c4;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    .navbar-header img {
        margin: 21px 20px 0 14px;
    }
}

