/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import './variables.scss';
@import 'node_modules/ngx-toastr/toastr.css';

*::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

*::-webkit-scrollbar-track {
    background: #EBECF2;
    border-left: 4.5px solid #fff;
    border-right: 4.5px solid #fff;
}

*::-webkit-scrollbar-track:horizontal {
    background: #EBECF2;
    border-top: 4.5px solid #fff;
    border-bottom: 4.5px solid #fff;
}

*::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 20px;
    border-left: 2.5px solid #fff;
    border-right: 2.5px solid #fff;
}

*::-webkit-scrollbar-thumb:horizontal {
    background: $main-color;
    border-radius: 20px;
    border-top: 2.5px solid #fff;
    border-bottom: 2.5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
    background: lightskyblue;
}

*::-webkit-scrollbar-thump:horizontal:hover {
    background: lightblue;
}

body {
    background-color: transparent;
    font-family: Roboto, sans-serif; // overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pointer {
    cursor: pointer;
}

.modal-backdrop {
    background: rgba(255, 255, 255, 0.7);
    &.in {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

.modal {
    >.modal-dialog {
        width: auto;
        height: 100%;
        margin: 0;
        >.modal-content {
            border: none;
            background: none;
            box-shadow: none;
            border-radius: 0;
        }
    }
}

@media (max-width: 767px) {
    .screen-lock {
        overflow: hidden;
    }
}

.ag-menu {
    min-width: 255px;
}

.ag-header-cell-label {
    font-size: 15px;
    font-weight: bold;
}

.ag-header-cell {
    background: $main-color;
    opacity: 0.7;
    color: white;
    text-transform: uppercase;
}

.ag-cell {
    font-size: 13.4px; // border-right: 1px solid $main-color !important;
    text-align: center;
}

.ag-cell:first-child {
    // background-color: yellow;
}

.ag-cell-focus {
    border: 1px solid transparent !important;
}

.ag-header-cell-resize {
    width: 5px !important;
    background: white;
    border: 2px solid transparent;
    padding: 2px 0px;
}

.ag-header-cell-label {
    float: none !important;
    text-align: center !important;
    display: grid !important;
}