<button data-toggle="collapse" data-target="#demo" class="menu">
  <i class="fa fa-bars" aria-hidden="true"></i>
</button>

<div id="demo" class="collapse">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Warehouse Management System</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLink="dashboard" routerLinkActive="active">
          <a><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown" *ngFor="let item of MenuItems">
          <a class="dropdown-toggle" data-toggle="dropdown">{{item.menuName}}
            <span class="caret"></span></a>
          <ul *ngIf="item.screenResourceList" class="dropdown-menu">
            <li *ngFor="let screen of item.screenResourceList" (click)="MenuClicked(item, screen.screenName)"><a>{{screen.screenDisplayName}}</a></li>
          </ul>
          <ul *ngIf="item.rfScreenResourceList" class="dropdown-menu">
            <li *ngFor="let screen of item.rfScreenResourceList" (click)="MenuClicked(item, screen.screenName)"><a>{{screen.screenDescription}}</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Admin
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLink="profile" routerLinkActive="active">
              <a>User Profile</a></li>
            <li routerLink="config" routerLinkActive="active">
              <a>Configuration</a>
            </li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a><span class="glyphicon glyphicon-user"></span> Favorite</a></li> -->
        <li (click)="logout()"><a><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
</div>